.login-container {
  width: 100vw;
  height: 100vh;
  background-image: url('./blur-dashboard.png');
  display: flex;
  align-items: center;
  justify-content: center;
}

.gsuit-container {
  height: 30vh;
  width: 30vw;
  background-color: #dfe4eb;
}
